<!DOCTYPE html>
<html lang="en">
<head>
<!-- basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- mobile metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<!-- site metas -->
<title>Waye on AWS</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">	
<!-- bootstrap css -->
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
<!-- style css -->
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
<!-- Responsive-->
<link rel="stylesheet" href="{{url_for('static', filename='css/responsive.css')}}">
<!-- fevicon -->
<link rel="icon" href="images/fevicon.png" type="image/gif" />
<!-- Scrollbar Custom CSS -->
<link rel="stylesheet" href="{{url_for('static', filename='css/jquery.mCustomScrollbar.min.css')}}">
<!-- Tweaks for older IEs-->
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<!-- owl stylesheets --> 
<link rel="stylesheet" href="{{url_for('static', filename='css/owl.carousel.min.css')}}">
<!-- <link rel="stylesheet" href="{{url_for('static', filename='css/owl.theme.default.min.css')}}"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
</head>
<body>
	<!--header section start -->
    <div class="header_section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div class="logo"><a href="index.html"><img src="static/images/logo.png"></a></div>
                </div>
                <div class="col-md-9">
                    <div class="menu_text">
                        <ul>
                        	<li class="active"><a href="index.html">HOME</a></li>
                            <li><a href="about.html">ABOUT</a></li>
                            <li><a href="price.html">PROPERTIES</a></li>
                            <li><a href="gym.html">BLOG</a></li>
                            <li><a href="gym.html">LOGIN</a></li>
                            <li><a href="gym.html">REGISTER</a></li>
                            <li><a href="contact.html">CONTACT US</a></li>
                            <div id="myNav" class="overlay">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <div class="overlay-content">
                  <a href="index.html">HOME</a>
                  <a href="about.html">ABOUT</a>
                  <a href="price.html">PROPERTIES</a>
                  <a href="gym.html">BLOG</a>
                  <a href="gym.html">LOGIN</a>
                  <a href="gym.html">REGISTER</a>
                  <a href="class.html">CONTACT US</a>
                </div>
                </div>
                <span  style="font-size:33px;cursor:pointer; color: #ffffff;" onclick="openNav()"><img src="static/images/toggle-icon.png" class="toggle_menu"></span>
                </div>  
                </li>
                </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- header section end -->
    <!--banner section start -->
    <div class="banner_section">
    	<div class="banner_bg">
    		<div class="banner_main">
    			<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <div class="row">
    				            <div class="col-sm-7 padding_0">
    				            	<div class="taital_main">
    				            		<h1 class="banner_taital">THE BEST WAY TO FIND YOUR HOME</h1>
    				            		<p class="contrary_text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over</p>
    				            		<div class="btn_main">
                                            <ul>
                                                <li class="active"><a href="#">ABOUT US</a></li>
                                                <li><a href="#">VIEW MORE</a></li>
                                            </ul>
                                        </div>
    				            	</div>
    				            	<div class="image_1"><img src="static/images/img-1.png"></div>
    				            </div>
    				            <div class="col-sm-5">
    				            	<div class="way_main">
    				            		<h1 class="way_text">WAY REALESTATE</h1>
    				            		<div class="way_main_text">
                                                <ul>
                                                    <li class="active"><a href="#">01</a></li>
                                                    <li><a href="#">02</a></li>
                                                </ul>
                                            </div>
    				            	    </div>
    				                </div>
    			                </div>
                            </div>
                        <div class="carousel-item">
                            <div class="container-fluid"></div>
                                <div class="row">
    				                <div class="col-sm-7 padding_0">
    				                	<div class="taital_main">
    				                		<h1 class="banner_taital">THE BEST WAY TO FIND YOUR HOME</h1>
    				                		<p class="contrary_text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over</p>
    				                		<div class="btn_main">
                                                <ul>
                                                    <li class="active"><a href="#">ABOUT US</a></li>
                                                    <li><a href="#">VIEW MORE</a></li>
                                                </ul>
                                            </div>
    				                	</div>
    				                	<div class="image_1"><img src="static/images/img-1.png"></div>
    				                </div>
    				                <div class="col-sm-5">
    				                	<div class="way_main">
    				                		<h1 class="way_text">WAY REALESTATE</h1>
    				                		<div class="way_main_text">
                                                <ul>
                                                    <li class="active"><a href="#">01</a></li>
                                                    <li><a href="#">02</a></li>
                                                </ul>
    				                	    </div>
    				                    </div>
    			                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                          	<div class="container-fluid"></div>
                                <div class="row">
    				                <div class="col-sm-7 padding_0">
    				                	<div class="taital_main">
    				                		<h1 class="banner_taital">THE BEST WAY TO FIND YOUR HOME</h1>
    				                		<p class="contrary_text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over</p>
    				                		<div class="btn_main">
                                                <ul>
                                                    <li class="active"><a href="#">ABOUT US</a></li>
                                                    <li><a href="#">VIEW MORE</a></li>
                                                </ul>
                                            </div>
    				                	</div>
    				                	<div class="image_1"><img src="static/images/img-1.png"></div>
    				                </div>
    				                <div class="col-sm-5">
    				                	<div class="way_main">
    				                		<h1 class="way_text">WAY REALESTATE</h1>
    				                		<div class="way_main_text">
                                                <ul>
                                                    <li class="active"><a href="#">01</a></li>
                                                    <li><a href="#">02</a></li>
                                                </ul>
    				                	    </div>
    				                    </div>
    			                    </div>
                                </div>
                        </div>
                    </div>
                </div>
    	</div>
    </div>
    <!--banner section end -->
    <!--search section start -->
    <div class="search_section">
    	<div class="container">
    		<h3 class="quick_text">Quick search</h3>
    		<div class="search_bt_main">
    			<div class="row">
    				<div class="col-sm-6 col-lg-3">
    					<input type="" class="contract_text" placeholder="All contracts" name="All contracts">
    				</div>
    				<div class="col-sm-6 col-lg-3">
    					<input type="" class="contract_text" placeholder="Property Title" name="Property Title">
    				</div>
    				<div class="col-sm-6 col-lg-3">
    					<input type="" class="contract_text" placeholder="Property Type" name="Property Type">
    				</div>
    				<div class="col-sm-6 col-lg-3">
    					<div class="search_bt"><a href="#">Search</a></div>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
    <!-- search section end -->
    <!-- Realestates section start -->
    <div class="realestates_section layout_padding">
    	<div class="container-fluid">
    		<div class="realestates_bg">
    			<div class="container">
    			    <h1 class="realestates_taital">New  <span style="color: #040403">Realestates</span></h1>
    			    <p class="Contrary_taital">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years Contrary to popular belief, Lorem Ipsum is not simply random </p>
    			</div>
    			<div class="realestates_section_2">
    				<div class="row">
    					<div class="col-lg-4">
    						<div class="images_4">
    							<div class="images_7"><img src="static/images/img-7.png"></div>
    							<h2 class="new_text">New</h2>
    						</div>
    						<div class="home_taital_main active">
    							<h1 class="home_text">Home <br>in Merrick Way</h1>
    							<h1 class="price_text active">$540,000</h1>
    						</div>
    					</div>
    					<div class="col-lg-4">
    						<div class="images_5">
    							<div class="images_7"><img src="static/images/img-7.png"></div>
    							<h2 class="new_text">New</h2>
    						</div>
    						<div class="home_taital_main">
    							<h1 class="home_text">Street <br>Food Restaurant</h1>
    							<h1 class="price_text">$1,600 Monthly</h1>
    						</div>
    					</div>
    					<div class="col-lg-4">
    						<div class="images_6">
    							<div class="images_7"><img src="static/images/img-7.png"></div>
    							<h2 class="new_text">New</h2>
    						</div>
    						<div class="home_taital_main">
    							<h1 class="home_text">Villa <br>in Coral Gables</h1>
    							<h1 class="price_text">$825,000</h1>
    						</div>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
    <!-- Realestates section end -->
    <!-- about section start -->
    <div class="about_section">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-6">
    				<h1 class="about_text">About <span style="color: #0c0b05;">Us</span></h1>
    				<p class="lorem_text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
    				<div class="read_bt"><a href="#">Read More</a></div>
    			</div>
    			<div class="col-md-6">
    				<div class="image_8"><img src="static/images/img-8.png"></div>
    			</div>
    		</div>
    	</div>
    </div>
    <!-- about section end -->   
    <!-- Properties section start -->
    <div class="properties_section layout_padding">
    	<div class="container">
    		<h1 class="properties_text">Properties</h1>
    		<p class="ipsum_text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in
 piece of classical Latin literature from 45 BC, making it over 2000 years Contrary to popular belief, Lorem Ipsum is not simply random</p>
            <div class="properties_section_2">
            	<div class="container">
            		<div class="images_main">
            		    <div class="images_left custom_box-style"></div>
            		    <div class="images_middle custom_box-style"></div>
            		    <div class="images_right custom_box-style"></div>
            	    </div>
            	</div>
            </div>
    	</div>
    </div>   
    <!-- Properties section end -->   
    <!-- contact section start --> 
    <div class="contact_section layout_padding">
    	<div class="container">
    		<h1 class="contact_text">Contact <span style="color: #050402;">Us</span></h1>
    		<div class="contact_section_2">
    			<div class="row">
    				<div class="col-md-7">
    					<div class="mail_main">
                            <form action="/action_page.php">
                              <div class="form-group">
                                <input type="text" class="email-bt" placeholder="Name" name="Name">
                              </div>
                              <div class="form-group">
                                <input type="text" class="email-bt" placeholder="Email" name="Email">
                              </div>
                              <div class="form-group">
                                <input type="text" class="email-bt" placeholder="Subject" name="Subject">
                              </div>
                                            
                              <div class="form-group">
                                <textarea class="massage-bt" placeholder="Massage" rows="5" id="comment" name="Massage"></textarea>
                              </div>
                            </form>
                            <div class="send_btn">
                              <div class="main_bt"><a href="#">Send</a></div>
                            </div>
                        </div>
    				</div>
    				<div class="col-md-5">
    					<div class="waye_main">
    						<h1 class="waye_taital">waye</h1>
    						<p class="waye_text">Realestate</p>
    					</div>
    					<h1 class="best_text">Best Find Your  Home</h1>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>  
    <!-- contact section end -->   
    <!-- footer section start -->
    <div class="footer_section layout_padding">
    	<div class="container">
    		<div class="row">
    			<div class="col-sm-4">
    				<h1 class="addres_text">Address</h1>
    				<div class="call_text"><img src="static/images/call-icon.png"><span class="padding_left_0">+1 800 666 6688</span></div>
    				<div class="call_text"><img src="static/images/mail-icon.png"><span class="padding_left_0">demo@gmail.com</span></div>
    				<div class="call_text"><img src="static/images/map-icon.png"><span class="padding_left_0">40 Baria Sreet 133/2 NewYork City, US</span></div>
    			</div>
    			<div class="col-sm-4 border_left_0">
    				<h1 class="addres_text">Our Link</h1>
    				<div class="footer_menu">
    					<ul>
    						<li class="active"><a href="#">Home</a></li>
    						<li><a href="#">About</a></li>
    						<li><a href="#">Propertys</a></li>
    						<li><a href="#">Bolg</a></li>
    						<li><a href="#">Contact</a></li>
    					</ul>
    				</div>
    			</div>
    			<div class="col-sm-4 border_left_0">
    				<h1 class="addres_text">Newsletter</h1>
    				<input type="text" class="email_text" placeholder="enter your email" name="enter your email">
    				<div class="subscribe_bt">Subscribe</div>
    				<div class="social_icon">
    					<ul>
    						<li><a href="#"><img src="static/images/fb-icon.png"></a></li>
    						<li><a href="#"><img src="static/images/twitter-icon.png"></a></li>
    						<li><a href="#"><img src="static/images/instagram-icon.png"></a></li>
    					</ul>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>   
    <!-- footer section end --> 
    <!-- copyright section end --> 
    <div class="copyright_section">
  	    <div class="container">
  		    <p class="copyright_text">Copyright 2022 All Rights Reserved Design By <a href="https://html.design/">Free html Templates</a></p>
  	    </div>
    </div>  
    <!-- copyright section end --> 


    <!-- Javascript files-->
    <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery-3.0.0.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/plugin.js')}}"></script>
    <!-- sidebar -->
    <script src="{{url_for('static', filename='js/jquery.mCustomScrollbar.concat.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/custom.js')}}"></script>
    <!-- javascript --> 
    <!-- <script src="{{url_for('static', filename='js/owl.carousel.js')}}"></script> -->
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
    <script>
	$(document).ready(function(){
		$(".fancybox").fancybox({
       openEffect: "none",
       closeEffect: "none"
       })
	});
    </script>
    <script>
		function openNav() {
			document.getElementById("myNav").style.width = "100%";
		}

		function closeNav() {
			document.getElementById("myNav").style.width = "0%";
		}
   </script>
</body>
</html>
